{% extends 'base.html.twig' %}

{% block title %}Kamer index{% endblock %}

{% block body %}
    <h1>Kamer index</h1>

    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prijs</th>
                <th>SoortId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kamer in kamers %}
            <tr>
                <td>{{ kamer.id }}</td>
                <td>{{ kamer.prijs }}</td>
                <td>{{ kamer.soortid }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('kamer_show', {'id': kamer.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('kamer_edit', {'id': kamer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('kamer_new') }}">Create new</a>
{% endblock %}
{% block footer %}

{% endblock %}
